html,
body {
	background-color: #fff;
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #1f1f1f;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif, monospace;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul a {
	text-decoration: none;
	color: #000;
}
ul a:hover {
  color: #00f;
}

li {
  margin: 1rem 0;
}

#map {
	width: 100%;
	height: 100vh;
}

#searchbox {
	position: absolute;
	top: 2rem;
	left: 2rem;
	z-index: 999;
	border-radius: 1.5em;
	min-width: 258px;
	background-color: #fff;
	padding: 0 1rem;
}
#search {
	display: flex;
	gap: 1rem;
	background-color: inherit;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	font-size: 1.125rem;
	line-height: 24px;
	border-radius: 1.5em;
}
#results {
	display: none;
	padding: 1.5rem 0;
	border-top: 1px solid #ccc;
  overflow: clip;
  overflow-clip-margin: content-box 0px;
  max-height: 600px;
}

.side-menu {
	border-top: 1px solid #ccc;
	padding: 2rem;
}

.sidenav {
	width: 0;
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #fff;
	overflow-x: hidden;
	padding: 0.25rem 0;
	transition: 0.25s;
	white-space: nowrap;
}

.icon {
	vertical-align: middle;
	margin-right: 2rem;
}

.sidenav .closebtn {
	position: relative;
	top: 0;
	right: 0;
	margin-left: 50px;
	cursor: pointer;
	float: right;
}

.scroll {
	overflow-x: hidden;
	overflow-y: auto;
}

.searchfield {
	color: #1f1f1f;
	padding: 0;
	width: 200px;
	height: 32px;
	border: 0;
	background-color: transparent;
	margin: 0.5em 0 0.5em 1.5em;
	font-size: inherit;
}
.searchfield:focus {
	outline: none;
}

.shadow {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

.curses {
	text-transform: uppercase;
}
.curses input,
select {
	border: 0;
	outline: none;
	background-color: #ccc;
	padding: 0;
	margin: 0 1em;
	line-height: 24px;
	font-family: inherit;
	width: 16em;
	height: 24px;
}

button {
	background-color: #1f1f1f;
	color: #fff;
	border: 0;
	padding: 1em;
	margin: 1em;
	font-weight: 500;
	text-transform: uppercase;
  cursor: pointer;
}

h1,
h2,
summary {
	/* display: inline; */
	font-weight: 500;
	text-transform: uppercase;
}
h1 {
	font-size: 1.4rem;
}
h2,
summary {
	font-size: 1.2rem;
}

.selection {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.selection input {
  margin: 11px;
}

.ctrl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  align-content: center;
  align-items: baseline;
}

.logo {
	padding: 0;
	margin: 0;
}

.button {
  cursor: pointer;
}
.button:hover {
  color: #00f;
}

