html,
body {
  background-color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #1f1f1f;
  box-sizing: border-box;
  font-family: "SpaceGrotesk", sans-serif, monospace;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-weight: 500;
  text-align: center;
  padding: 0.5em;
  /* overflow */
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 72px;
}
ul li:hover {
  background-color: rgba(60, 64, 67, 0.04);
}

ul a {
  text-decoration: none;
  color: #000;
}

details {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

#map {
  width: 100%;
  height: 100vh;
}

#sbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  flex-direction: column;
  padding: 0 0 1.5em 0;
  overflow: hidden;
  font-size: 0.9rem;
  /* border-radius: 1.5em; */
  width: 72px;
  line-height: 24px;
}

#header {
  text-align: center;
  font-weight: 500;
  padding: 0.5em;
  /* background-color: rgba(60, 64, 67, 0.04); */
  /* border-radius: 1em 1em 0 0; */
}

.btn {
}

.content {
  flex-grow: 1;
  padding: 1em;
}

.addendum {
  color: #5e5e5e;
  font-weight: normal;
}

.alert {
  text-align: center;
}

.view {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "CourierPrime";
}

.quit {
  cursor: pointer;
  float: right;
  text-align: right;
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.searchbox {
  color: #1f1f1f;
  padding: 0;
  width: 200px;
  height: 32px;
  border: 0;
  background-color: transparent;
  margin: 0.5em 0 0.5em 1.5em;
  font-size: inherit;
}
.searchbox:focus {
  outline: none;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

.curses {
  text-transform: uppercase;
}
.curses input, select {
  border: 0;
  outline: none;
  background-color: #ccc;
  padding: 0;
  margin: 0 1em;
  line-height: 24px;
  font-family: inherit;
  width: 16em;
  height: 24px;
}

.wnd {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  visibility: hidden;
  z-index: 9999;
  background-color: #fff;
  flex-direction: column;
  padding: 0;
  transform: translate(-50%, 0);
  /* border-radius: 1em; */
  /* height: 100vh; */
  min-width: 1024px;
  width: 75%;
}

button {
  background-color: #1f1f1f;
  color: #fff;
  border: 0;
  padding: 1em;
  margin: 1em;
  font-weight: 500;
  text-transform: uppercase;
}

h1,
h2,
summary {
  /* display: inline; */
  font-weight: 500;
  text-transform: uppercase;
}
h1 {
  font-size: 1.4rem;
}
h2,
summary {
  font-size: 1.2rem;
}
